absl-py
adversarial-robustness-toolbox
aiofiles
alembic
altair
anyio
argcomplete
array-record
astropy
asttokens
astunparse
attrs
backcall
backports.zoneinfo
bitstring
blinker
blosc2
boto3
botocore
Brotli
build
cachetools
certifi
charset-normalizer
click
cloudpickle
cmake
coloredlogs
comm
contourpy
cycler
Cython
dacite
data
databricks-cli
-e git+https://github.com/ridhimagarg/MasterThesis.git@291c3a8f885a4d888e72be5ed5036604f9425d44#egg=dawndynamicadversarialwatermarkingofneuralnetworks&subdirectory=model-extraction-defense/modeldefense/dawndynamicadversarialwatermarkingofneuralnetworks
debugpy
decorator
Deprecated
dill
dm-tree
dnspython
docker
entrypoints
etils
eventlet
exceptiongroup
executing
fiftyone
fiftyone-brain
fiftyone-db
filelock
Flask
flatbuffers
fonttools
ftfy
funcsigs
future
gast
gitdb
GitPython
glob2
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
GPUtil
graphql-core
greenlet
grpcio
gunicorn
h11
h2
h5py
hpack
httpcore
httpx
humanfriendly
hypercorn
hyperframe
idna
imageio
importlib-metadata
importlib-resources
inflate64
ipdb
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonlines
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab-widgets
kaleido
keras
Keras-Preprocessing
kiwisolver
latex
lazy_loader
libclang
lit
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mlconfig
mlflow
mongoengine
motor
mpmath
msgpack
multivolumefile
nest-asyncio
networkx
numexpr
numpy
oauthlib
onnx
onnxruntime
opencv-python
opencv-python-headless
opt-einsum
oyaml
packaging
pandas
parso
pexpect
pickleshare
Pillow
pip-tools
pkgutil_resolve_name
platformdirs
plotly
pprintpp
priority
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
py7zr
pyarrow
pyasn1
pyasn1-modules
pybcj
pycocotools
pycryptodomex
pydeck
pydot
pyerfa
Pygments
PyJWT
pymongo
Pympler
pyparsing
pyppmd
pyproject_hooks
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
pyzmq
pyzstd
querystring-parser
rarfile
referencing
regex
requests
requests-oauthlib
retrying
rich
rpds-py
rsa
s3transfer
scikit-image
scikit-learn
scipy
seaborn
sentry-sdk
shutilwhich
six
smmap
sniffio
sortedcontainers
SQLAlchemy
sqlparse
sse-starlette
sseclient-py
stack-data
starlette
strawberry-graphql
streamlit
sympy
tables
tabulate
tempdir
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-model-optimization
termcolor
texttable
tf2onnx @ git+https://github.com/onnx/tensorflow-onnx@25c977c2e27e3ff793a275ebd6eec444d5c9f914
thop
threadpoolctl
tifffile
toml
tomli
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
triton
typeguard
typing_extensions
tzdata
tzlocal
ultralytics
universal-analytics-python3
urllib3
validators
voxel51-eta
watchdog
wcwidth
websocket-client
Werkzeug
widgetsnbextension
wrapt
wsproto
xmltodict
zipp
